<meta charset="utf-8"/>

{{ if (isset .Params "description") }}
    <meta name="description" content="{{ .Params.description }}"/>
{{ end }}

<meta property="fb:admins" content="100001573909985"/>
<link href="/icon.jpg" rel="shortcut icon" />

<link rel="alternate" type="application/atom+xml"
      title="RSS Feed for {{ .Title }}"
      href="{{ .Site.BaseURL }}/rss.xml" />
