<link href="https://fonts.googleapis.com/css?family=Droid+Sans&Yanone+Kaffessatz&Open+Sans&display=swap" rel="stylesheet">

{{ $style := resources.Get "styles/mastodon-timeline.css" }}
<link rel="stylesheet" href="{{$style.Permalink}}" />

{{ $style := resources.Get "styles/theme.css" }}
<link rel="stylesheet" href="{{$style.Permalink}}" />

{{ $sass := resources.Get "style.scss" }}
{{ $style := $sass | resources.ToCSS }}
<link rel="stylesheet" href="{{$style.Permalink}}" />