<div class="comments tS lP" id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = {{ .Params.href | default .Permalink }};
        this.page.identifier = {{ .Params.disqus_id | default .Params.slug }};
    };

    (function() {
        var d = document, s = d.createElement('script');

        s.src = 'https://mitar.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">
        comments powered by Disqus.
    </a>
</noscript>
