<div class="post regular permalinkpage">
    <div class="data lP">
        <h1 class="title fS lT">
            <a href="{{ .Params.href | default .Permalink }}">
                {{ .Title }}
            </a>
        </h1>
        <div class="body hasMarkup">
            {{ .Content }}
        </div>
    </div>
    <div class="type bT">
        <a href="{{ .Params.href | default .Permalink }}">
            <img alt="Text"
                 src="/images/post-types-1.png"
                 height="26">
        </a>
    </div>
</div>
