<div class="post {{ .Params.icon | default "regular" }} indexpage">
    <div class="data lP">
        <h1 class="title fS lT">
            <a href="{{ .Params.href | default .Permalink }}">
                {{.Title}}
            </a>
        </h1>
        <div class="body hasMarkup">
            {{ .Summary }}
            {{ if .Truncated }}
            <p class="read_more_container">
                <a href="{{ .Params.href | default .Permalink }}"
                   class="read_more">
                    Keep reading
                </a>
            </p>
            {{ end}}
        </div>
    </div>
    <div class="type bT">
        <a href="{{ .Params.href | default .Permalink }}"
           title="View post, comments">
            <img alt="Text"
                 src="/images/post-types-1.png"
                 height="26">
        </a>
    </div>
    <div class="meta bS tS lS">
        {{ if isset .Params "tags" }}
            {{ if ( gt ( len .Params.tags ) 0 ) }}
                <ul class="tags nav clear">
                    {{ range .Params.tags }}
                    <li><a href="/tags/{{. | urlize}}" title="javascript">#{{ . }}</a></li>
                    {{ end }}
                </ul>
            {{ end}}
        {{ end }}
        <ul class="facts nav clear">
            <li class="date">
                <span>
                    {{ .Date.Local.Format "Jan 2, 2006 3:04 pm" }}
                </span>
            </li>
            <li class="comments">
                {{ partial "post/comment-count.html" . }}
            </li>
        </ul>
    </div>
</div>
