<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
<div id="page-wrapper">
    {{ partial "nav.html" . }}
    <div id="page-content" class="section">
        <div class="content clear">
            {{ block "main" . }}
            {{ end }}
            {{ partial "features.html" . }}
        </div>
    </div>
    {{ block "footer" . }}
    {{ end }}
</div>
</body>
</html>
