{{ define "main" }}
    <div id="tumblr-posts">
        <div class="alert tagged">Posts tagged "{{ .Title }}"</div>
        <div class="posts">
            {{ partial "posts.html" . }}
        </div>
    </div>
{{ end }}
