
html{
    color:#000;
    background:#FFF;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,
img {
    border:0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style:normal;
    font-weight:normal;
}
ol,
ul {
    list-style:none;
}
caption,
th {
    text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,
q:after {
    content:'';
}
abbr,
acronym {
    border:0;
    font-variant:normal;
}
sup {
    vertical-align:text-top;
}
sub {
    vertical-align:text-bottom;
}
input,
textarea,
select {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
    *font-size:100%;
}
legend {
    color:#000;
}
#yui3-css-stamp.cssreset { display: none; }
body {
    font:13px/1.231 arial,helvetica,clean,sans-serif;
    *font-size:small;
    *font:x-small;
}

select,
input,
button,
textarea {
    font:99% arial,helvetica,clean,sans-serif;
}
table {
    font-size:inherit;
    font:100%;
}
pre,
code,
kbd,
samp,
tt {
    font-family:monospace;
    *font-size:108%;
    line-height:100%;
}
#yui3-css-stamp.cssfonts { display: none; }
a {
    text-decoration: none;
    outline: none;
}
input {
    outline: none;
}
a:hover {
    _background-position: 0 0;
}
em {
    font-style: italic;
}
embed, iframe {
    display: block;
}
img {
    vertical-align: bottom;
}
object {
    display: block;
}
strong {
    font-weight: bold;
}
textarea {
    overflow: hidden;
}
figure {
    text-align: center;
}
.clear {
    zoom: 1;
}
.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.remove {
    display: none;
}
.blogs .blog {
    width: 30px;
}
.blogs .icon {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    overflow: hidden;
    text-indent: -9999px;
    width: 30px;
    -khtml-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.networks .service {
    width: 30px;
}
.networks .icon {
    display: block;
    height: 30px;
    position: relative;
    width: 30px;
    -khtml-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.networks .asset {
    background-image: url(/images/social.png);
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    left: 50%;
    margin: -10px 0 0 -10px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 20px;
}
.networks .facebook .asset {
    background-position: -20px 0;
}
.networks .flickr .asset {
    background-position: -40px 0;
}
.networks .foursquare .asset {
    background-position: -60px 0;
}
.networks .gitlab .asset {
    background-position: -80px 0;
}
.networks .lastfm .asset {
    background-position: -100px 0;
}
.networks .linkedin .asset {
    background-position: -120px 0;
}
.networks .pinterest .asset {
    background-position: -140px 0;
}
.networks .rdio .asset {
    background-position: -160px 0;
}
.networks .soundcloud .asset {
    background-position: -180px 0;
}
.networks .spotify .asset {
    background-position: -200px 0;
}
.networks .twitter .asset {
    background-position: -220px 0;
}
.networks .vimeo .asset {
    background-position: -240px 0;
}
.networks .youtube .asset {
    background-position: -260px 0;
}
.networks .email .asset {
    background-position: -280px 0;
}
.networks .dribble .asset {
    background-position: -300px 0;
}
.networks .github .asset {
    background-position: -320px 0;
}
.networks .instagram .asset {
    background-position: -340px 0;
}
.networks .aboutme .asset {
    background-position: -360px 0;
}
.networks .website .asset {
    background-position: -380px 0;
}
.networks .bullpen .asset {
    background-position: -400px 0;
}
.networks .medium .asset {
    background-position: -422px 0;
}
.networks .vine .asset {
    background-position: -443px 0;
}
.networks .skype .asset {
  background-position: -464px 0;
}
html {
    height: 100%;
    *overflow: auto;
}
body {
    height: 100%;
    min-width: 974px;
    position: relative;
    text-align: center;
    width: 100%;
}
.section {
    background-color: #ffffff;
}
#page-wrapper {
    height: 100%;
    text-align: left;
    width: 100%;
}
#page-header {
    background-color: #fff;
    height: 48px;
    margin: 0 auto;
    position: relative;
    width: 968px;
    z-index: 2;
}
#page-header .content {
    border-bottom: dotted 3px #bfbfbf;
    margin: 0 auto;
    padding: 0 3px 5px;
    width: 958px;
}
#page-header .actions li {
    background: url(/images/tumblr-actions-1.png) no-repeat left center;
    float: left;
    margin: 0 0 0 25px;
    padding: 12px 0 12px 16px;
    font-size: 10px;
    line-height: 1em;
}
#page-header .actions li.archive {
    background-position: -64px center;
}
#page-header .actions li.ask {
    background-position: -16px center;
}
#page-header .actions li.feed {
    background-position: -48px center;
}
#page-header .actions li.submit {
    background-position: -32px center;
}
#page-header .actions a {
    display: block;
    padding: 3px 5px;
    text-transform: uppercase;
}
#page-wrapper .header {
    border-right: 3px dotted #bfbfbf;
    border-left: 3px dotted #bfbfbf;
}
#header-image {
    position: relative;
    margin: 0 auto;
    max-width: 958px;
    overflow: hidden;
    padding-bottom: 5px;
    width: 100%;
}
#header-image .asset {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    *vertical-align: baseline;
}
#instagram ul.photos {
    margin: 0 auto;
    width: 283px !important;
    overflow: hidden;
}
#instagram .photo {
    height: 283px;
    width: 283px;
    margin: 0 auto;
    padding: 20px 0;
}
#instagram .photo .link img {
    height: 100%;
    width: 100%;
}
#instagram.instagram--2across .photo {
    width: 131.5px;
    height: 131.5px;
    padding: 5px;
    float: left;
}
#instagram.instagram--3across .photo {
    width: 84.33px;
    height: 84.33px;
    padding: 5px;
    float: left;
}
#flickr .photo {
    height: auto;
    width: 283px;
    margin: 0 auto;
    padding: 20px 0;
}
#flickr .photo .link img {
    width: 100%;
}
#page-content {
    border: dotted 3px #bfbfbf;
    border-top: 0;
    border-bottom: 0;
    _height: 100%;
    margin: -48px auto -100px;
    min-height: 100%;
    position: relative;
    width: 968px;
}
#page-content .content {
    padding: 48px 0 100px;
    position: relative;
    z-index: 1;
}
#page-content .col {
    border-left: dotted 3px #bfbfbf;
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 335px;
}
#page-footer {
    height: 100px;
    position: relative;
    width: 100%;
    z-index: 1;
}
#page-footer .content {
    font-size: 11px;
    height: 90px;
    line-height: 1em;
    padding: 10px 0 0;
    position: relative;
    width: 100%;
}
#page-footer a {
    filter: alpha(opacity=50);
    *zoom: 1;
    opacity: 0.5;
}
#page-footer a:link, #page-footer a:visited {
    filter: alpha(opacity=100);
    opacity: 1;
}
#page-footer .actions {
    left: 20px;
    position: absolute;
    top: 10px;
}
#page-footer .actions li {
    background: url(/images/tumblr-actions-2.png) no-repeat;
    padding: 0 0 10px 12px;
}
#page-footer .actions li.ask {
    background-position: -12px 0;
}
#page-footer .actions li.submit {
    background-position: -24px 0;
}
#page-footer .actions a {
    display: block;
    font-style: normal;
    padding: 3px 5px 0;
    text-transform: uppercase;
}
#page-footer .pages {
    text-align: center;
}
#page-footer .pages li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
    padding: 0 0 0 15px;
}
#page-footer .pages a {
    background: url(/images/horizontal-arrows-2.png) no-repeat -9px center;
    display: block;
    font-style: italic;
    margin: 0 -9px 0 0;
    padding: 0 24px 0 15px;
}
#page-footer .pages .previous a {
    background-position: right center;
}
#page-footer .theme {
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 10px;
}
#tumblr-features {
    float: right;
    margin: -3px 0 0;
    width: 335px;
}
#tumblr-features .feature {
    border-top: dotted 3px #bfbfbf;
    margin: 0 auto;
    padding: 5px 0;
    width: 329px;
}
#tumblr-features .heading {
    font-size: 16px;
    margin: 0 auto 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 285px;
}
#tumblr-features .content {
    margin: 0 auto;
    padding: 20px 15px;
    position: static;
    width: 295px;
    z-index: 0;
}
#tumblr-bio .logo {
    display: block;
    margin: 0 0 25px;
    overflow: hidden;
    text-align: center;
    width: 295px;
}
#tumblr-bio .logo img {
    max-width: 295px;
}
#tumblr-bio .heading {
    font-size: 21px;
    margin: 0;
    padding: 0;
    text-transform: none;
    width: auto;
}
#tumblr-bio .description {
    font-size: 12px;
    line-height: 1.5;
    margin: 20px 0 0;
}
#tumblr-featured {
    display: none;
}
#tumblr-featured .heading {
    margin: 0 auto;
}
#tumblr-featured .posts {
    margin: 0 auto;
    overflow: hidden;
    width: 285px;
}
#tumblr-featured .post {
    padding: 20px 0;
}
#tumblr-featured .media {
    border: 1px solid #c7c7c7;
    margin: 0 auto 10px;
    overflow: hidden;
    width: 283px;
}
#tumblr-featured .media iframe {
    max-width: 100%;
}
#tumblr-featured .media img {
    max-width: 100%;
    display: block;
}
#tumblr-featured .meta {
    font-size: 10px;
    line-height: 1em;
    margin: 10px 0 0;
    text-transform: uppercase;
}
#tumblr-featured .meta .name {
    display: none;
}
#tumblr-featured .meta .type {
    padding: 0 5px 0 0;
}
#tumblr-featured .title,
#tumblr-featured .body h2 {
    font-size: 123.0769%;
    margin: 0 0 5px;
}
#tumblr-featured .answer .title, #tumblr-featured .quote .body {
    background-color: #c7c7c7;
    color: #fff;
    padding: 10px;
}
#tumblr-featured .answer .title .link {
    color: #fff;
}
#tumblr-featured .audio .id3 {
    margin: 0 0 5px;
}
#tumblr-featured .audio .media {
    border: 0;
}
#tumblr-featured .audio .media iframe {
    max-height: 363px;
}
#tumblr-featured .audio .spotify img,
#tumblr-featured .audio .soundcloud img {
    display: none;
}
#tumblr-featured .chat .label {
    font-weight: bold;
    padding: 0 5px 0 0;
}
#tumblr-featured .chat .line {
    margin: 0 0 5px;
}
#tumblr-featured .photo .view {
    text-align: center;
}
#tumblr-featured .photo .body {
    text-align: left;
}
#tumblr-featured .photo .media {
    display: inline-block;
    max-width: 283px;
    width: auto;
    *display: inline;
    *zoom: 1;
}
#tumblr-featured .video .media embed, #tumblr-featured .video .media iframe, #tumblr-featured .video .media object {
    height: auto;
    width: 100%;
}
#tumblr-following {
    display: none;
    padding: 0 0 24px !important;
    position: relative;
}
#tumblr-following .blogs {
    margin: 0 auto;
    padding: 0 0 0 5px;
    width: 315px;
}
#tumblr-following .blog {
    float: left;
    height: 35px;
    width: 35px;
}
#tumblr-following .asset {
    -khtml-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: block;
    filter: alpha(opacity=75);
    font-size: 0;
    height: 0;
    opacity: 0.75;
    overflow: hidden;
    padding: 30px 0 0;
    width: 30px;
    *zoom: 1;
}
#tumblr-following .asset:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}
#tumblr-following .blogsmore {
    background-color: #f2f2f3;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 24px;
    left: 50%;
    line-height: 24px;
    margin: 0 0 0 -163px;
    position: absolute;
    text-align: center;
    text-transform: lowercase;
    width: 326px;
}
#tumblr-group .members {
    margin: 0 auto;
    width: 280px;
}
#tumblr-group .member {
    height: auto !important;
    min-height: 48px;
    padding: 0 0 10px 58px;
    position: relative;
    _height: 48px;
}
#tumblr-group .thumb {
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 48px;
}
#tumblr-group .thumb a {
    display: block;
    height: 48px;
    width: 48px;
}
#tumblr-group .thumb img {
    display: block;
    height: 48px;
    width: 48px;
    -khtml-border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
}
#tumblr-group .name a, #tumblr-group .name span {
    display: block;
}
#tumblr-likes #likes {
    margin: 0 auto;
    overflow: hidden;
    width: 285px;
}
#tumblr-likes .like_post {
    line-height: 1.3846em;
    padding: 0 0 40px;
}
#tumblr-likes .like_post blockquote, #tumblr-likes .like_post img, #tumblr-likes .like_post p, #tumblr-likes .like_post ul {
    margin: 0 0 5px;
}
#tumblr-likes .like_audio, #tumblr-likes .like_caption, #tumblr-likes .like_line, #tumblr-likes .like_link, #tumblr-likes .like_post_body, #tumblr-likes .like_quote, #tumblr-likes .like_title, #tumblr-likes .like_video {
    margin: 0 0 5px;
}
#tumblr-likes .like_post blockquote {
    border-left: solid 3px #f2f2f3;
    padding: 0 0 0 10px;
}
#tumblr-likes .like_post iframe {
    border: 1px solid #c7c7c7;
}
#tumblr-likes .like_post img {
    border: 1px solid #c7c7c7;
    max-width: 283px;
}
#tumblr-likes .like_post li {
    list-style-type: disc;
}
#tumblr-likes .like_post ul {
    margin: 0 0 5px 20px;
}
#tumblr-likes .like_link, #tumblr-likes .like_title {
    font-size: 123.0769%;
}
#tumblr-likes .like_post_body {
    margin-top: 0 !important;
}
#tumblr-likes .like_photo_post a, #tumblr-likes .like_video a {
    display: block;
    overflow: hidden;
    text-align: center;
    width: 285px;
}
#tumblr-likes .like_photo_post .like_caption a {
    display: inline;
}
#tumblr-likes div.like_quote {
    background-color: #c7c7c7;
    color: #fff;
    font-size: 123.0769%;
    padding: 10px;
}
#tumblr-likes .like_video_post iframe {
    margin: 0 auto;
}
#tumblr-likes .like_below_photo, #tumblr-likes .like_below_video {
    display: none;
}
#tumblr-likes .post_info_bottom {
    display: block !important;
    font-size: 10px;
    line-height: 1em;
    margin: 10px 0 0;
    text-transform: uppercase;
}
#tumblr-likes .post_info_bottom a {
    display: inline;
}
#tumblr-pages.feature {
    display: none;
    margin: -1px 0 0;
    padding: 0;
}
#tumblr-pages.hasPages, #tumblr-pages.hasHome {
    display: block;
}
#tumblr-pages ul {
    padding: 0 7px;
}
#tumblr-pages li {
    border-top: solid 1px #d8d8d8;
    line-height: 1em;
    padding: 11px 0 11px 15px;
}
#tumblr-pages a {
    background: url(/images/horizontal-arrows-1.png) no-repeat -7px center;
    display: block;
    padding: 0 0 0 7px;
    text-transform: uppercase;
}
#tumblr-pages span {
    background: #fff;
    display: block;
    padding: 0 0 0 8px;
}
#tumblr-search.feature {
    font-size: 10px;
    line-height: 1em;
    padding: 25px 0;
}
#tumblr-search .networks {
    margin: 0 auto 20px;
    width: 280px;
}
#tumblr-search .service {
    float: left;
    height: 35px;
    width: 35px;
}
#tumblr-search form {
    margin: 0 auto;
    width: 280px;
}
#tumblr-search input {
    background: white url(/images/sprite-input.png) scroll no-repeat 0 0;
    border: 0;
    display: block;
    float: left;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
}
#tumblr-search input.text {
    padding: 0 10px;
    width: 220px;
}
#tumblr-search input.button {
    background-position: top right;
    cursor: pointer;
    width: 40px;
}
#tumblr-search label {
    display: block;
    letter-spacing: 1px;
    padding: 0 0 5px 5px;
    text-transform: uppercase;
}
#tumblr-tweets {
    display: none;
}
#tumblr-tweets .heading {
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
#tumblr-tweets .tweets {
    margin: -1px auto 0;
    width: 295px;
}
#tumblr-tweets .tweet {
    border-top: solid 1px #d8d8d8;
    padding: 20px 0;
}
#tumblr-tweets .text {
    font-size: 92.3076%;
    line-height: 1.3333em;
    margin: 0 0 10px;
}
#tumblr-tweets .meta {
    font-size: 84.6153%;
    line-height: 1em;
}
#tumblr-posts {
    float: left;
    width: 630px;
}
#tumblr-posts .alert {
    font-size: 18px;
    font-style: italic;
    margin: 5px auto 0;
    padding: 10px 25px;
    width: 570px;
}
#tumblr-posts .posts {
    padding: 25px 0 0;
}
#tumblr-posts .post {
    margin: 0 auto;
    padding: 0 0 25px;
    position: relative;
    width: 620px;
    z-index: 1;
}
#tumblr-posts .comments {
    padding: 30px 20px 0;
}
#tumblr-posts .data {
    padding: 0 25px;
}
#tumblr-posts .hasMarkup blockquote {
    border-left: solid 3px #f2f2f3;
    margin: 0 0 20px;
    padding: 0 0 0 30px;
}
#tumblr-posts .data .hasMarkup li {
    margin: 2px 0;
}
#tumblr-posts .data .hasMarkup ol, #tumblr-posts .data .hasMarkup ul {
    margin: 0 0 20px 15px;
}
#tumblr-posts .data .hasMarkup ol li {
    list-style-type: decimal;
}
#tumblr-posts .data .hasMarkup p {
    margin: 0 0 20px;
}
#tumblr-posts .data .hasMarkup ul li {
    list-style-type: disc;
}
#tumblr-posts .data .media,
#tumblr-posts .data img {
    border: solid 1px #bfbfbf;
    margin: 0 auto 20px;
    overflow: hidden;
    padding: 10px;
    width: 500px;
}
#tumblr-posts .data .media *,
#tumblr-posts .data img * {
    display: block;
}
#tumblr-posts .data .media script,
#tumblr-posts .data img script {
    display: none;
}
#tumblr-posts .data img {
    width: auto;
}
#tumblr-posts .data img.panorama {
    width: 100%;
}
#tumblr-posts .data .permalink {
    margin: 10px 0 0;
}
#tumblr-posts .data .title {
    font-size: 33px;
    line-height: 1em;
    margin: 0 0 20px;
}
#tumblr-posts .meta {
    font-size: 11px;
    font-style: italic;
    line-height: 1em;
    margin: 20px 0 0;
}
#tumblr-posts .meta ul {
    padding: 5px 25px;
}
#tumblr-posts .meta li {
    float: left;
}
#tumblr-posts .meta li a, #tumblr-posts .meta li span {
    display: block;
}
#tumblr-posts .meta li a {
    padding: 5px 20px 5px 5px;
}
#tumblr-posts .meta li span {
    padding: 5px 20px 5px 5px;
}
#tumblr-posts .meta li span a {
    display: inline;
    padding: 0;
}
#tumblr-posts .meta .facts {
    text-transform: capitalize;
    width: 520px;
}
#tumblr-posts .meta .facts li {
    background: url(/images/meta-1.png) no-repeat 0 center;
    padding: 0 0 0 14px;
}
#tumblr-posts .meta .facts li.date {
    text-transform: none;
}
#tumblr-posts .meta .facts li.comments {
    background-position: -14px center;
}
#tumblr-posts .meta .facts li.notes {
    background-position: -28px center;
    text-transform: capitalize;
}
#tumblr-posts .meta .facts li.source {
    background-position: -56px center;
}
#tumblr-posts .meta .facts li.plays {
    background-position: -98px center;
}
#tumblr-posts .meta .facts li.reblogit {
    background: transparent;
    position: absolute;
    right: 1%;
}
#tumblr-posts .meta .facts li.reblogit a {
    background-color: #747474;
    padding: 5px;
}
#tumblr-posts .meta .facts li.reblogit svg {
    background-color: #747474;
}
#tumblr-posts .meta .facts li.likeit {
    background: transparent;
    position: absolute;
    right: 5%;
}
#tumblr-posts .meta .facts li.likeit iframe {
    background-color: #747474;
    padding: 5px;
}
#tumblr-posts .meta .tags {
    background: url(/images/meta-1.png) no-repeat -70px 10px;
    font-style: normal;
    margin: 0 25px;
    padding: 5px 0 5px 14px;
    text-transform: uppercase;
}
#tumblr-posts .notes {
    padding: 30px 20px 0;
}
#tumblr-posts .notes .title {
    font-size: 16px;
    padding: 0;
    margin: 0 0 0 -15px;
}
#tumblr-posts .notes .note {
    border: solid 1px #bfbfbf;
    border-right: 0;
    border-left: 0;
    margin: -1px 0 0;
    padding: 15px 0;
}
#tumblr-posts .notes .note * {
    vertical-align: middle;
}
#tumblr-posts .notes .note blockquote {
    border-left: solid 3px #f2f2f3;
    margin: 10px 0 0;
    padding: 0 10px;
}
#tumblr-posts .notes .note img.avatar {
    padding-right: 5px;
}
#tumblr-posts .share {
    margin: 0;
}
#tumblr-posts .share .service {
    overflow: hidden;
}
#tumblr-posts .share .service * {
    padding: 0;
}
#tumblr-posts .share .facebook {
    width: 100px;
}
#tumblr-posts .share .pinterest {
    width: 90px;
}
#tumblr-posts .share .plusone {
    width: 90px;
    *display: none;
}
#tumblr-posts .share .tumblr {
    width: 62px;
}
#tumblr-posts .share .tumblr a {
    vertical-align: top;
    width: 62px !important;
    *display: inline !important;
    *text-indent: 0 !important;
    *zoom: 1 !important;
}
#tumblr-posts .share .twitter {
    width: 108px;
}
#tumblr-posts .type {
    height: 26px;
    width: 26px;
    left: -19.5px;
    position: absolute;
    top: 0;
    -khtml-border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
}
#tumblr-posts .type a, #tumblr-posts .type img {
    height: 26px;
}
#tumblr-posts .type a {
    width: 26px;
    display: block;
}
#tumblr-posts .type img {
    display: block;
}
#tumblr-posts .type a {
    overflow: hidden;
}
#tumblr-posts .answer .data .question {
    background-color: #c7c7c7;
    font-size: 20px;
    line-height: 1.3846em;
    margin: 0 0 20px;
    padding: 20px;
}
#tumblr-posts .answer .data .reply {
    padding: 0 20px;
}
#tumblr-posts .answer .data .user {
    font-size: 12px;
    text-transform: lowercase;
    padding: 0 0 10px;
}
#tumblr-posts .answer .data .user * {
    vertical-align: text-top;
}
#tumblr-posts .answer .type img {
    margin: 0 0 0 -130px;
}
#tumblr-posts .audio .data {
    width: 570px;
}
#tumblr-posts .audio .data .artist, #tumblr-posts .audio .data .album {
    display: inline;
    font-weight: bold;
}
#tumblr-posts .audio .data .caption {
    line-height: 18px;
}
#tumblr-posts .audio .data .id3 {
    margin: 0 0 15px;
}
#tumblr-posts .audio .data .cover {
    border: 0;
    float: left;
    margin: 0;
    padding: 200px 20px 10px 0;
    position: relative;
    width: 200px;
}
#tumblr-posts .audio .data .cover * {
    overflow: hidden;
    width: 200px;
}
#tumblr-posts .audio .data .cover .image {
    border: solid 1px #c7c7c7;
    height: 198px;
    left: 0;
    position: absolute;
    top: 0;
    width: 198px;
    z-index: 1;
}
#tumblr-posts .audio .data .title {
    margin: 0 0 5px;
}
#tumblr-posts .audio .type img {
    margin: 0 0 0 -156px;
}
#tumblr-posts .conversation .data .line {
    padding: 5px 30px;
    text-transform: lowercase;
}
#tumblr-posts .conversation .data .even {
    background-color: #fff;
}
#tumblr-posts .conversation .data .even * {
    background-color: #fff;
}
#tumblr-posts .conversation .type img {
    margin: 0 0 0 -182px;
}
#tumblr-posts .link .data .description {
    line-height: 18px;
}
#tumblr-posts .link .type img {
    margin: 0 0 0 -104px;
}
#tumblr-posts .link .data {
    text-align: center;
}
#tumblr-posts .link .media {
    display: inline-block;
    margin: 0 auto 20px;
    width: auto;
}
#tumblr-posts .link .data .title,
#tumblr-posts .link .data .description {
    text-align: left;
}
#tumblr-posts .photo .data {
    text-align: center;
}
#tumblr-posts .photo .data .caption {
    line-height: 18px;
    margin: 20px 0 0;
    text-align: left;
}
#tumblr-posts .photo .data .media {
    display: inline-block;
    margin: 0;
    width: auto;
    *display: inline;
    *zoom: 1;
}
#tumblr-posts .photo .type img {
    margin: 0 0 0 -26px;
}
#tumblr-posts .quote .data .echo {
    color: #626262;
    font-size: 24px;
    line-height: 1.3846em;
    margin: 0 0 20px;
}
#tumblr-posts .quote .type img {
    margin: 0 0 0 -78px;
}
#tumblr-posts .regular .type img {
    margin: 0 0 0 -208px;
}
#tumblr-posts .regular .data .body {
    line-height: 18px;
}
#tumblr-posts .video .data .caption {
    line-height: 18px;
}
#tumblr-posts .video .data .media embed, #tumblr-posts .video .data .media object {
    width: 100%;
}
#tumblr-posts .video .type img {
    margin: 0 0 0 -52px;
}
#tumblr-posts .sticky .type img {
    margin: 0;
}
.featureloaded {
    display: block !important;
}
.blogsloading .blogsmore {
    background-image: url(/images/ajax-loader-1.gif);
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 0 !important;
}
.blogsloaded {
    padding: 0 !important;
}
.blogsloaded .blogsmore {
    display: none !important;
}
.featuredposts #tumblr-featured {
    display: block;
}
.generatedcontent #tumblr-featured .meta .type:after {
    content: ':';
}
body, .bM {
    background-color: #fff;
}
body {
    font-family: 'Droid Sans';
}
.bP {
    background-color: #6CA516;
}
.lP a, a.lP, .lS a:hover, a:hover.lS, .like_post a, .blogsmore {
    color: #6CA516;
}
body, .tP {
    color: #333;
}
#tumblr-featured .post .meta .type,
#tumblr-featured .chat .title .link,
#tumblr-featured .text .title .link {
    color: #333;
}
#tumblr-featured .post .meta .type:hover,
#tumblr-featured .chat .title .link:hover,
#tumblr-featured .text .title .link:hover {
    color: #333;
}
.bS {
    background-color: #f2f2f3;
}
.bS * {
    background-color: #f2f2f3;
}
.sticky .bS {
    background-color: #dcdcdd;
}
.sticky .bS * {
    background-color: #dcdcdd;
}
.bT {
    background-color: #259096;
}
.fS {
    font-family: 'Yanone Kaffeesatz';
}
.lS a, a.lS, .tS {
    color: #6e6e6e;
}
.bF {
    background-color: #777777;
}
.bF * {
    background-color: #777777;
}
.lF a, a.lF, .tF {
    color: #fff;
}
.lT a, a.lT, .like_link a {
    color: #259096;
}
#tumblr_notes ol.notes {
    padding: 0;
}
#tumblr_notes ol.notes .more_notes_link_container {
    padding: 10px 0 0;
}
#tumblr-posts .bubuti-act {
    margin: 10px 0px -15px;
    width: 620px;
    padding-bottom: 0px;
    display: none;
}
#tumblr-posts .bubuti-act.bubuti {
    display: block;
}
