<div id="tumblr-features">
    <div class="feature hasPages lS" id="tumblr-pages">
        <ul class="nav">
            <li><a href="/about" title="About"><span>About</span></a></li>
            <li><a href="/tags/project" title="Projects"><span>Projects</span></a></li>
            <li><a href="/tags/media" title="Media"><span>Media</span></a></li>
            <li><a href="/archive" title="Archive"><span>Archive</span></a></li>
            <li><a href="https://github.com/sponsors/mitar" title="Support My Work"><span>Support My Work</span></a></li>
            <li><a href="/rss.xml" title="RSS Feed"><span>RSS Feed</span></a></li>
        </ul>
    </div>
    <div class="feature tS lP" id="tumblr-search">
        <div class="networks-wrapper clear">
            <ul class="networks">
                <li class="service email"><a class="icon bP"
                                             href="https://mailhide.io/e/kenxX"
                                             onclick="mailhidepopup=window.open('https://mailhide.io/e/kenxX?compact=true','mailhidepopup',width=580,height=635); return false;"
                                             title="Email"><span class="asset">Email</span></a></li>
                <li class="service github"><a class="icon bP" href="https://github.com/mitar" title="GitHub"><span
                        class="asset">GitHub</span></a></li>
                <li class="service gitlab"><a class="icon bP"
                                            href="https://gitlab.com/mitar"
                                            title="GitLab"><span class="asset">GitLab</span></a></li>
                <li class="service medium"><a class="icon bP" href="https://medium.com/@mitar" title="Medium"><span
                        class="asset">Medium</span></a></li>
                <li class="service facebook"><a class="icon bP" href="https://www.facebook.com/mmitar" title="Facebook"><span
                    class="asset">Facebook</span></a></li>
                <li class="service linkedin"><a class="icon bP" href="https://www.linkedin.com/in/mmitar/"
                                                title="Linkedin"><span class="asset">Linkedin</span></a></li>
                <li class="service twitter"><a class="icon bP" href="https://twitter.com/mitar_m" title="Twitter"><span
                        class="asset">Twitter</span></a></li>
                <li class="service mastodon"><a class="icon bP" href="https://noc.social/@mitar" title="Mastodon"><span class="asset">@mitar@noc.social</span></a></li>
            </ul>
        </div>
    </div>
    <div class="feature lP" id="tumblr-newsletter">
        <div class="heading tS">
            <span>Subscribe</span>
        </div>
        <form class="news" id="news" method="post" action="https://invalid">
            <div>
                <input type="hidden" value="mitar-news" name="list" />
                <input type="hidden" value="subrequest" name="action" />
                <input type="hidden" value="subscribe" name="action_subrequest" />
                <label for="news-email" class="tS">Subscribe to Mitar's gentle newsletter. For you.</label>
                <input id="news-email" size="25" name="email" type="email" required="required" placeholder="Your e-mail address" /><input id="news-submit" type="submit" value="Subscribe" />
            </div>
            <div id="recaptcha"></div>
        </form>
    </div>
    <div id="mt-timeline" class="mt-timeline feature lP featureloaded">
        <div id="mt-body" class="mt-body">
            <div class="loading-spinner"></div>
        </div>
    </div>
    <div class="footer bF lF tF" id="page-footer">
        <div class="content">
            <ul class="pages nav" style="display: none;">
                <li class="previous"><a>Previous Page</a></li>
                <li class="next"><a href="/page/2" title="Next Page">Next Page</a>
                </li>
            </ul>
            <div class="copyright lS tS">All content is available under <a
                href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
                Attribution-ShareAlike license</a> unless specified otherwise.
                Attribute by linking.
                The views and opinions are not necessary of my current or
                past affiliations, nor are they necessary mine.
                Not everything I write or share I agree with, e.g.,
                it can be hypothetical, to provoke debate, troll, play devil's advocate,
                entertain half-baked ideas,
                explore new lines of thought or perspectives.
                Not everything I expressed in the past I agree with today.
                Linking is not endorsement.
                All feedback is welcome.
                He/him.
            </div>
        </div>
    </div>
</div>
