<head>
    {{ if eq .Kind "taxonomy" }}
        <title>Tagged "{{ .Title }}" | {{ .Site.Title }}</title>
    {{ else }}
        <title>{{ if (and (.Title) (ne .Title .Site.Title)) }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    {{ end }}
    {{ partial "head/meta.html" . }}
    {{ partial "head/scripts.html" . }}
    {{ partial "head/style.html" . }}
</head>
