<div id="canvas">
    <div class="header" id="page-header">
        <div class="feature tS lP" id="tumblr-bio">
            <div class="content bS">
                <h1 class="heading lT fS">
                    <a href="/" title="{{.Site.Title}}">{{.Site.Title}}</a>
                </h1>
                <div class="description">
                    {{ .Site.Params.description | safeHTML }}
                </div>
                <h2>Contact</h2>
                <ul>
                    <li id="mail" title="E-mail"><a href="https://mailhide.io/e/kenxX"
                                                    onclick="mailhidepopup=window.open('https://mailhide.io/e/kenxX?compact=true','mailhidepopup',width=580,height=635); return false;"
                                                    title="Reveal this e-mail address">...@tnode.com</a></li>
                    <li id="twitter" title="Twitter"><a href="https://twitter.com/mitar_m">@mitar_m</a></li>
                    <li id="mastodon" title="Mastodon"><a href="https://noc.social/@mitar" rel="me">@mitar@noc.social</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
