{{ define "main" }}
<div id="tumblr-posts">
    <div class="posts">
        <div class="post regular permalinkpage">
            <div class="data lP">
                <h1 class="title fS lT">
                    <a href="/">
                        Not Found
                    </a>
                </h1>
                <div class="body hasMarkup">
                    <p>The URL you requested could not be found.</p>
                </div>
            </div>
            <div class="type bT">
                <a href="/">
                    <img alt="Text"
                         src="/images/post-types-1.png"
                         height="26">
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}
