{{ define "main" }}
<div id="tumblr-posts">
    <div class="posts">
        {{ partial "posts.html" . }}
    </div>
</div>
{{ end }}
{{ define "footer" }}
    {{ $js := resources.Get "js/scroll.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
{{ end }}

