{{ define "main" }}
    <div id="tumblr-posts">
        <div class="posts">
            {{ range .Site.RegularPages.ByDate.Reverse }}
                {{ partial "post/title.html" . }}
            {{end}}
        </div>
    </div>
{{ end }}
